<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add a Book</title>
</head>
<body>
<form th:action="@{/books/saveBook}" th:object="${book}" method="post">
    <label>Book Title:</label>
    <label>
        <input type="text" th:field="*{title}" placeholder="Enter title" required>
    </label><br><br>
    <button type="submit">Save Book</button>
</form>

<!-- Back to books -->
<a href="/books">Back to Books List</a>

</body>
</html>