<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add a Book</title>
</head>
<body>
    <h1>Add a Book</h1>
    <!-- red squiggly lines now, since we haven't add any mapping rules in the Controllers -->
    <form th:action="@{/saveBook}" th:object="${book}" method="post">
        <!-- Required field -->
        <br>Name of Book:<label><input type="text" th:field="*{title}" required></label>
        <input type="submit" value="Save">
    </form>
</body>
</html>