<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h1>PROG32758 Group Assignment 3</h1>
    <h3>Group Members:</h3>
    <ol>
        <li>Matthew Samaha</li>
        <li>Sebastian Kus</li>
        <li>Sahil Shingala</li>
    </ol>

    <hr>
    <h2>Book Reviews</h2>
    <!-- Link to add a book: title, author -->
    <a th:href="@{/books/add}" href="/books/add">Click here to add a book</a>

    <!-- Link to view all books that have been made -->
    <h3>View All Books</h3>
    <p><a th:href="@{/books}" href="/books">Click here to view all books</a></p>

    <!-- Placeholder where book details or reviews will dynamically load -->
    <div id="main-content">
        <p>Select a link above to proceed.</p>
    </div>


</body>
</html>