<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h1>PROG32758 Group Assignment 3</h1>
    <h3>Group Members:</h3>
    <ol>
        <li>Matthew Samaha</li>
        <li>Sebastian Kus</li>
        <li>Sahil Shingala</li>
    </ol>

    <hr>
    <h3>Add a Book</h3>
    <a href="/books/add">Add a Book</a>

    <h3>View All Books</h3>
    <a href="/books">View Books</a>

    <!-- Placeholder where book details or reviews will dynamically load -->
    <div id="main-content">
        <p>Select a link above to proceed.</p>
    </div>


</body>
</html>