<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>PROG32758 Group Assignment 3</h1>
    <h3>Group Members:</h3>
    <ol>
        <li>Matthew Samaha</li>
        <li>Sebastian Kus</li>
        <li>Sahil Shingala</li>
    </ol>

    <hr>
    <h2>Book Reviews</h2>
<!-- Link to add a book: title, author -->

<!-- list to view all books that have been made + link beside the book to add a review -->

<!-- Once you click on a book link -- it should print out book details, plus review that it's on the book -->

</body>
</html>